<div class="filterMainCont">
  <div class="inputContainer">
    <input
      type="text"
      id="FilterInp"
      autocomplete="off"
      #filterVal
      (input)="filterNames(filterVal.value)"
      placeholder="Search Countries..."
      [(ngModel)]="inputValue"
    />
  </div>
  <div class="FilterText" *ngIf="filterVal.value && isVisible">
    <ul class="list" *ngIf="result.length !== 0; else elseBlock">
      <li
        class="listItem"
        (click)="onSelect(country)"
        *ngFor="let country of result"
      >
        {{ country.name.common }}
      </li>
    </ul>
    <ng-template #elseBlock>
      <p class="falsetext">Not Found...</p>
    </ng-template>
  </div>
  <div class="DataCont" *ngIf="DataVisible">
    <div class="image">
      <img [src]="flagUrl" />
      <img [src]="placeUrl" />
    </div>
    <div class="tableCont">
    <table class="data-table">
      <tr>
        <th>Category</th>
        <th>Information</th>
      </tr>

      <tr>
        <td>Population</td>
        <td>{{ Population }}</td>
      </tr>
      <tr>
        <td>Language</td>
        <td>{{ Language }}</td>
      </tr>
      <tr>
        <td>Timezone</td>
        <td>{{ Timezone }}</td>
      </tr>
      <tr>
        <td>Capital</td>
        <td>{{ Capital }}</td>
      </tr>
      <tr>
        <td>Area</td>
        <td>{{ Area }}</td>
      </tr>
      <tr>
        <td>Currency</td>
        <td>{{ Currency }}</td>
      </tr>
      <tr>
        <td>Continent</td>
        <td>{{ Continent }}</td>
      </tr>
    </table>
</div>
  </div>
</div>
